body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1F2937;
    color: white;
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

h2 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 15px 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* -------------------- */
/* -------Navbar------- */
/* -------------------- */

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}


/* -------------------- */
/* -------Header------- */
/* -------------------- */

.header {
    max-height: 400px;
}

.header .container {
    display: flex;
    gap: 2.5em;
    height: 100%;
    margin-top: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    border: 3px solid white;
    border-radius: 40px;
    width: 100%;
}

.left h1{
    flex: 1;
}

.left p{
    flex: 1;
}
.contact-button{
    background-color: navy;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 800;
    padding: 1rem;
    border-radius: 30px;
}

.right {
    max-height: 400px;
}

.right img {
    max-width: 400px;
    height: auto;
    border: 3px solid white;
    border-radius: 50px;

}


/* -------------------- */
/* -------Section------ */
/* -------------------- */
.section {
    margin: 50px auto;
}

.projects {
    width: 90%;
    margin: auto;
}
.projects h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.project-item {
    flex: 1;
    min-width: 375px;
    max-width: 375px;
}

.box {
    border-radius: 10px;
    background-color: slategray;
    margin: 40px 0px;
    padding: 15px 20px;
    border: 3px solid white;
}

/* -------------------- */
/* -------Footer------- */
/* -------------------- */

.footer {
    display: flex;
    justify-content: center;
}